---
import ThemeToggle from "./ThemeToggle.astro";
---

<nav class="container mx-auto px-6 py-4">
  <div
    class="flex flex-col md:flex-row md:items-center md:justify-between gap-4"
  >
    <div class="flex items-center justify-center md:justify-start">
      <a href="/" aria-label="Return to homepage">
        <div
          class="text-yellow-400 font-bold text-lg md:text-xl flex items-center gap-3"
        >
          <span class="text-white whitespace-nowrap">AI for Devs Workshop</span>
          <span class="text-yellow-400 whitespace-nowrap">by</span>
          <div class="flex items-center">
            <img
              src="/jslogo.avif"
              alt="JavaScript Logo"
              class="h-6 md:h-8 w-auto object-contain"
            />
          </div>
        </div>
      </a>
    </div>
    <div
      class="flex flex-wrap items-center justify-center md:justify-end gap-6"
    >
      <a
        href="/#features"
        class="text-gray-800 text-white hover:text-yellow-500 dark:hover:text-yellow-400 text-sm md:text-base"
      >
        Features
      </a>
      <a
        href="/#curriculum"
        class="text-gray-800 text-white hover:text-yellow-500 dark:hover:text-yellow-400 text-sm md:text-base"
      >
        Curriculum
      </a>
      <a
        href="/#benefits"
        class="text-gray-800 text-white hover:text-yellow-500 dark:hover:text-yellow-400 text-sm md:text-base"
      >
        Benefits
      </a>
      <ThemeToggle />
      <a
        href="#register"
        class="bg-yellow-400 text-gray-900 px-4 py-1.5 md:px-4 md:py-2 rounded-lg hover:bg-yellow-300 transition-colors text-sm md:text-base font-bold"
      >
        Register Now
      </a>
    </div>
  </div>
</nav>
